body {
  font-family: 'Segoe UI', sans-serif; }

span {
  font-style: italic; }

#fiveDayWeather .panel-body {
  text-align: center; }

#fiveDayWeather .panel-footer {
  display: none; }

#fiveDayWeather .col-one {
  text-align: left !important; }

#fiveDayWeather .col-two {
  text-align: left !important; }

#fiveDayWeather .hero {
  height: 300px;
  background-color: blueviolet;
  margin-bottom: 20px; }

